<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>
<section layout:fragment="content">

  <h2>이미지 목록</h2>
  </br>
  <ul class="w3-ul">

    <li th:each="image : ${listImage}">
      <a th:href="@{/v2/images/update/{id}(id=${image.id})}"
         style="text-decoration: none">
        <span
            style="color: #4b70fd"
            th:text="${image.name}"></span>
      </a>
    </li>
  </ul>


  </div>
</section>


</body>


</html>