<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:if="${message}">
  <h3 th:text="${message}"/>
</div>
<form action="#" method="POST" enctype="multipart/form-data" th:action="@{/v2/images/updateImageRequest}">
  ID : <span th:text="${image.getId()}"></span></br>
  이름 : <input type="text" name="name" th:value="${image.getName()}"></br>
  설명 : <input type="text" name="description" th:value="${image.getAdditionalPropertyValue('description')}"></br>
  상태 : <span th:text="${image.getStatus()}"></span></br>
  크기 : <span th:text="${image.getSize()}"></span></br>
  디스크 포맷 : <span th:text="${image.getDiskFormat()}"></span></br>
  컨테이너 포맷 : <span th:text="${image.getContainerFormat()}"></span></br>
  생성 시점 : <span th:text="${image.getCreatedAt()}"></span></br>
  수정 시점 : <span th:text="${image.getUpdatedAt()}"></span></br>



  <input type="hidden" name="imageId" th:value="${imageId}">
  <input type="submit" value="수정">
</form>
<form action="#" method="POST" enctype="application/x-www-form-urlencoded" th:action="@{/v2/images/deleteImageRequest}">
  <input type="hidden" name="imageId" th:value="${imageId}">
  <input type="submit" value="삭제">
</form>


</body>
</html>