<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>
<section layout:fragment="content">


  <h2>서버 생성</h2>

  <div class="w3-container w3-card-4 w3-light-grey">

    <p>
      <label>이름</label>

      <input type="text" id="name" placeholder="서버 이름"
             class="w3-input w3-border w3-round"></p></br>
    <p>
      <label>Flavor</label>

      <select id="flavor" autocomplete="off" class="w3-select w3-border w3-round">
        <th:block th:each="flavor : ${listFlavor}">
          <option th:text="${flavor.getName()}" th:value="${flavor.getId()}">

        </th:block>
      </select>
      <input type="text" id="flavorId" disabled class="w3-border-0 w3-input" th:value="'ID : ' + ${listFlavor.get(0).getId()}">
      </br>
    </p>
    <p>
      <label>Image</label>

      <select id="image" autocomplete="off" class="w3-select w3-border w3-round">
        <th:block th:each="image : ${listImage}">
          <option th:text="${image.getName()}" th:value="${image.getId()}">

        </th:block>
      </select>
      <input type="text" id="imageId" disabled class="w3-border-0 w3-input" th:value="'ID : ' + ${listImage.get(0).getId()}">
      </br>
    </p>
    <p>
      <label>Network</label>

      <select id="network" autocomplete="off" class="w3-select w3-border w3-round">
        <th:block th:each="network : ${listNetwork}">
          <option th:text="${network.getName()}" th:value="${network.getId()}">

        </th:block>
      </select>
      <input type="text" id="networkId" disabled class="w3-border-0 w3-input" th:value="'ID : ' + ${listNetwork.get(0).getId()}">
      </br>
      </br>
      <input id="btn-create" value="생성" class="w3-btn w3-teal w3-round">
    </p>
  </div>
  </br>


  </div>
  <!--server.js 추가-->
  <script src="/js/app/server.js"></script>
</section>


</body>


</html>